<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- columna de Email -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Comisión N°: </th>
      <td mat-cell *matCellDef="let curso"> {{curso.id}} </td>
    </ng-container>

    <!-- columna de nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
    </ng-container>

    <!-- columna de fecha de inicio -->
    <ng-container matColumnDef="fechaDeInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
      <td mat-cell *matCellDef="let curso"> {{curso.fechaDeInicio}} </td>
    </ng-container>

    <!-- columna de fecha de finalizacion -->
    <ng-container matColumnDef="fechaDeFin">
        <th mat-header-cell *matHeaderCellDef> Fecha de finalizacion </th>
        <td mat-cell *matCellDef="let curso"> {{curso.fechaDeFin}} </td>
      </ng-container>

    <!-- columna de acciones-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      
      <td mat-cell *matCellDef="let curso">
        <button (click)="editCourse.emit(curso.id)" mat-icon-button color="primary"> <mat-icon>edit</mat-icon> </button>

        <button (click)="deleteCourse.emit(curso.id)" mat-icon-button color="warn"> <mat-icon>delete</mat-icon> </button>
      </td> 
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

