<table mat-table [dataSource]="(inscripciones$ | async) || []" class="mat-elevation-z8">

    <!-- columna de ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> MATRICULA N°: </th>
    <td mat-cell *matCellDef="let inscripciones"> {{inscripciones.id}} </td>
  </ng-container>

      <!-- columna de CURSO -->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> CURSO </th>
    <td mat-cell *matCellDef="let inscripciones"> {{inscripciones.curso?.nombre}} </td>
  </ng-container>

      <!-- columna de ALUMNO -->
  <ng-container matColumnDef="alumno">
    <th mat-header-cell *matHeaderCellDef> ALUMNO </th>
    <td mat-cell *matCellDef="let inscripciones"> {{inscripciones.usuario?.name}} {{inscripciones.usuario?.apellido}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
